<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TextClassifier" type="ChatWeb.Models.ClassifierConfigSectionMappingConfigSection, ChatWeb"/>
  </configSections>

  <TextClassifier>
    <TextClassifierList>
      <add id="main"
          url="https://ussouthcentral.services.azureml.net/workspaces/-URL-/execute?api-version=2.0&amp;details=true"
          key="" />

      <!--  These are for LUIS -->
      <add id="commonchat"
       url="https://westus.api.cognitive.microsoft.com/luis/v2.0/apps/-APPID-"
       key=""
       method="luis" />

    </TextClassifierList>
  </TextClassifier>
</configuration>
